@import "tailwindcss";


@theme {
  --color-accent: #fff;
  --bg: #1f2026;
}

:root {
  background: var(--bg);
  color: var(--color-accent);
  font-family: Roboto, monospace, sans-serif;
}

body {
  margin: 0;
}